USE [master]
GO
/****** Object:  Database [SacMau]    Script Date: 11/04/2022 7:08:33 PM ******/
CREATE DATABASE [SacMau]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SacMau', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SacMau.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SacMau_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SacMau_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SacMau].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SacMau]
GO
/****** Object:  Table [dbo].[CHITIETNHAPHANG]    Script Date: 11/04/2022 7:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAPHANG](
	[MANHAPHANG] [varchar](10) NOT NULL,
	[MASP] [varchar](8) NOT NULL,
	[SLNHAP] [numeric](18, 0) NULL,
	[DONGIANHAP] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 11/04/2022 7:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MAHD] [varchar](15) NOT NULL,
	[MASP] [varchar](8) NOT NULL,
	[SL] [numeric](18, 0) NULL,
	[DONGIA] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOTKHUYENMAI]    Script Date: 11/04/2022 7:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOTKHUYENMAI](
	[MADOTKM] [varchar](10) NOT NULL,
	[NGAYBATDAUKM] [date] NULL,
	[NGAYKETTHUCKM] [date] NULL,
	[SOPHANTRAMKM] [numeric](18, 0) NULL,
 CONSTRAINT [PK_DOTKHUYENMAI] PRIMARY KEY NONCLUSTERED 
(
	[MADOTKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOTNHAPHANG]    Script Date: 11/04/2022 7:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOTNHAPHANG](
	[MANHAPHANG] [varchar](10) NOT NULL,
	[MANPP] [varchar](6) NOT NULL,
	[MANV] [varchar](5) NOT NULL,
	[THOIGIANNHAP] [date] NULL,
	[CPVC] [numeric](18, 0) NULL,
	[GHICHU] [nvarchar](200) NULL,
	[TONGTIENNH] [numeric](18, 0) NULL,
 CONSTRAINT [PK_DOTNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MANHAPHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/04/2022 7:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](15) NOT NULL,
	[MANV] [varchar](5) NOT NULL,
	[MAKH] [varchar](15) NOT NULL,
	[MADOTKM] [varchar](10) NOT NULL,
	[NGAYXUATHD] [date] NULL,
	[TONGTIEN] [numeric](18, 0) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/04/2022 7:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](15) NOT NULL,
	[MALOAIKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHIKH] [nvarchar](50) NULL,
	[SDTKH] [varchar](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIKHACHHANG]    Script Date: 11/04/2022 7:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[MALOAIKH] [varchar](10) NOT NULL,
	[TILECHIETKHAU] [numeric](18, 0) NULL,
 CONSTRAINT [PK_LOAIKHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MALOAIKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 11/04/2022 7:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MASP] [varchar](8) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[SLTON] [numeric](18, 0) NULL,
	[NHOMSP] [nvarchar](50) NULL,
	[MABC] [varchar](13) NULL,
	[GIABAN] [numeric](18, 0) NULL,
	[BANHUTANG] [nvarchar](5) NULL,
 CONSTRAINT [PK_MATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/04/2022 7:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](5) NOT NULL,
	[MATKHAU] [varchar](20) NULL,
	[NGAYTAO] [date] NULL,
	[HIEULUC] [bit] NULL,
	[HOTENNV] [nvarchar](50) NULL,
	[NGAYSINHNV] [date] NULL,
	[SDTNV] [varchar](10) NULL,
	[DIACHINV] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPHANPHOI]    Script Date: 11/04/2022 7:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANPHOI](
	[MANPP] [varchar](6) NOT NULL,
	[TENNPP] [nvarchar](50) NULL,
	[DIACHINPP] [nvarchar](50) NULL,
	[SDTNPP] [varchar](10) NULL,
	[CHUYENBAN] [nvarchar](50) NULL,
	[STK] [varchar](15) NULL,
	[NGANHANG] [nvarchar](50) NULL,
	[CHINHANHNGANHANG] [nvarchar](100) NULL,
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK_NHAPHANPHOI] PRIMARY KEY NONCLUSTERED 
(
	[MANPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [BAOGOMCHITIET_FK]    Script Date: 11/04/2022 7:08:33 PM ******/
CREATE NONCLUSTERED INDEX [BAOGOMCHITIET_FK] ON [dbo].[CHITIETNHAPHANG]
(
	[MANHAPHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CHITIETNHAP_FK]    Script Date: 11/04/2022 7:08:33 PM ******/
CREATE NONCLUSTERED INDEX [CHITIETNHAP_FK] ON [dbo].[CHITIETNHAPHANG]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [HOADONCHUACTHD_FK]    Script Date: 11/04/2022 7:08:33 PM ******/
CREATE NONCLUSTERED INDEX [HOADONCHUACTHD_FK] ON [dbo].[CTHD]
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MATHANGBAN_FK]    Script Date: 11/04/2022 7:08:33 PM ******/
CREATE NONCLUSTERED INDEX [MATHANGBAN_FK] ON [dbo].[CTHD]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NHANVIENNHAPHANG_FK]    Script Date: 11/04/2022 7:08:33 PM ******/
CREATE NONCLUSTERED INDEX [NHANVIENNHAPHANG_FK] ON [dbo].[DOTNHAPHANG]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NHAPHANGTUNHAPHANPHOI_FK]    Script Date: 11/04/2022 7:08:33 PM ******/
CREATE NONCLUSTERED INDEX [NHAPHANGTUNHAPHANPHOI_FK] ON [dbo].[DOTNHAPHANG]
(
	[MANPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [APDUNG_FK]    Script Date: 11/04/2022 7:08:33 PM ******/
CREATE NONCLUSTERED INDEX [APDUNG_FK] ON [dbo].[HOADON]
(
	[MADOTKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [KHACHHANGMUA_FK]    Script Date: 11/04/2022 7:08:33 PM ******/
CREATE NONCLUSTERED INDEX [KHACHHANGMUA_FK] ON [dbo].[HOADON]
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NHANVIENBAN_FK]    Script Date: 11/04/2022 7:08:33 PM ******/
CREATE NONCLUSTERED INDEX [NHANVIENBAN_FK] ON [dbo].[HOADON]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [BAOGOM_FK]    Script Date: 11/04/2022 7:08:33 PM ******/
CREATE NONCLUSTERED INDEX [BAOGOM_FK] ON [dbo].[KHACHHANG]
(
	[MALOAIKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETN_BAOGOMCHI_DOTNHAPH] FOREIGN KEY([MANHAPHANG])
REFERENCES [dbo].[DOTNHAPHANG] ([MANHAPHANG])
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG] CHECK CONSTRAINT [FK_CHITIETN_BAOGOMCHI_DOTNHAPH]
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETN_THONGTINN_MATHANG] FOREIGN KEY([MASP])
REFERENCES [dbo].[MATHANG] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG] CHECK CONSTRAINT [FK_CHITIETN_THONGTINN_MATHANG]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HANGHOABA_MATHANG] FOREIGN KEY([MASP])
REFERENCES [dbo].[MATHANG] ([MASP])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HANGHOABA_MATHANG]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADONCHU_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HOADONCHU_HOADON]
GO
ALTER TABLE [dbo].[DOTNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_DOTNHAPH_NHANVIENN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DOTNHAPHANG] CHECK CONSTRAINT [FK_DOTNHAPH_NHANVIENN_NHANVIEN]
GO
ALTER TABLE [dbo].[DOTNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_DOTNHAPH_NHAPHANGT_NHAPHANP] FOREIGN KEY([MANPP])
REFERENCES [dbo].[NHAPHANPHOI] ([MANPP])
GO
ALTER TABLE [dbo].[DOTNHAPHANG] CHECK CONSTRAINT [FK_DOTNHAPH_NHAPHANGT_NHAPHANP]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_APDUNG_DOTKHUYE] FOREIGN KEY([MADOTKM])
REFERENCES [dbo].[DOTKHUYENMAI] ([MADOTKM])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_APDUNG_DOTKHUYE]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG_KHACHHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIENB_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIENB_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHAN_BAOGOM_LOAIKHAC] FOREIGN KEY([MALOAIKH])
REFERENCES [dbo].[LOAIKHACHHANG] ([MALOAIKH])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHAN_BAOGOM_LOAIKHAC]
GO
USE [master]
GO
